.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    height: 10vh;
    /* border: 2px solid red; */
    padding: 40px 25px 40px 25px;
}

.register {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 30px;
    padding: 15px;
}

.register:hover {
    background-color: var(--bg-header);
    opacity: 0.3;
    color: var(--textColor);
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
    font-size: 40px;
    font-weight: bold;
    border: 2px solid gray;
    border-radius: 40px;
    padding: 6px;
    padding-left: 10px;
    width: 30%;
}

.inputSearch {
    border: none;
    width: 90%;
    height: 40px;
    padding: 5px;
    margin-top: none;
    font-size: 20px;
    outline: 0;
}